@charset "UTF-8";

// * Color

$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-light: #E5E5E5;
$color-gray-dark: #C7C3C6;
$color-blue: #8DC8FF;
$color-red: #F56767;

$font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, arial;

$header-height: 55px;